**/target
*.class
**/.settings
**.classpath
**.project
**.DS_Store
.metadata
/.settings/
*~
**/bin
/bin
*.swp
gnome-stop-build-and.run.sh
pull.sh
push.sh
logs
.idea/
main.iml
**/*.iml

cconfig/schema/markethero-db.sql
config/scripts/db/dumps-*
config/schema/markethero-db.sql

config/schema/markethero-db.sql

modules/markethero-ui/src/main/webapp/static/js/scriptsMH.js
modules/markethero-ui/src/main/webapp/static/js/scriptsMH.min.js
modules/markethero-dashboard-ui/src/main/webapp/static/js/scriptsMH.js
modules/markethero-dashboard-ui/src/main/webapp/static/js/scriptsMH.min.js

